{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div class="pic">
        {% if app.user.profile.image %}

            <div class="d-flex justify-content-center">
                <div class="m-3" style="background-color: white; border-radius: 50%">
                    <img style="border-radius: 50%" src="{{ vich_uploader_asset(app.user.profile.image, 'imageFile')|imagine_filter('vignette') }}" alt="profile picture">
                </div>
            </div>

        {% else %}

            <div class="d-flex justify-content-center">
                <div class="p-5 m-3" style="background-color: white; border-radius: 50%">
                    <img width="150px" height="150px" src="https://cdn.discordapp.com/attachments/907008782377300010/1108328640556572722/Basic_UI_Icon_Pack_-_Glyph_user-512.png" alt=" profile picture">
                </div>
            </div>

        {% endif %}

        <div class="d-flex justify-content-center">
            {{ form_start(formImage, {'action': path('app_image_profile_add'), 'method': 'POST'}) }}
            {{ form_widget(formImage.imageFile)}}
            <button type="submit" class="btn btn-success">OK</button>
            {{ form_end(formImage) }}
        </div>
        <hr>

    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            {% if app.user.profile.firstName is not null %}
                <p><strong>{{ app.user.profile.firstName }}</strong></p>
            {% else %}
                <p>no firstname yet</p>
            {% endif %}

            {% if app.user.profile.lastName is not null %}
                <p><strong>{{ app.user.profile.lastName }}</strong></p>
            {% else %}
                <p>no lastname yet</p>
            {% endif %}
        </div>

        <a href="{{ path('app_editprofile') }}" class="btn btn-primary">Edit this</a>
    </div>
    <hr>

    <div class="d-flex flex-column">
        <h2>Commandes effectuées :</h2>
        <div>
            {% for order in app.user.profile.getOrders() %}
                <a class="nav-link" href="{{ path('app_my_order_show', {id:order.id}) }}">
                    <div class="p-2">
                        <div class="border p-2 d-flex justify-content-between">
                            <h3>{{ order.total }} €</h3>
                            <div>
                                {% if order.status == 1 %}
                                    <p class="m-0">En attente de validation</p>
                                {% elseif order.status == 2 %}
                                    <p class="m-0">Commande en préparation</p>
                                {% elseif order.status == 3 %}
                                    <p class="m-0">Commande envoyé</p>
                                {% elseif order.status == 4 %}
                                    <p class="m-0">Commande en cours de livraison</p>
                                {% elseif order.status >= 5 %}
                                    <p class="m-0">Commande livré</p>
                                {% endif %}
                            </div>
                            <p>{{ order.createdAt | date("d/m/Y") }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}