{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}

    <div class="mailCommande">
        <div class="d-flex justify-content-center">
            <h1>Détails de votre commande</h1>
        </div>

        <h2>Commande N° : {{ order.id }}</h2>
        <p>Fait le : {{ order.createdAt | date("d/m/Y")}}</p>

        <div class="row">
            {% for item in order.orderItems %}
                <div class="d-flex align-items-center justify-content-between border p-3">
                    {% if item.product.images.0 is not null %}
                        <img class="rounded" src="{{ vich_uploader_asset(item.product.images.0,'imageFile')|imagine_filter('vignette') }}" alt="image product">
                    {% endif %}
                    <div class="d-flex flex-column">
                        <p><strong>{{ item.product.name }}</strong></p>
                        <p>{{ item.product.category.name }}</p>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <h4>Quantité : </h4>
                        <p>{{ item.quantity }}</p>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <h4>Prix : </h4>
                        <p>{{ item.product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2 class="text-end"><strong>TOTAL COMMANDE : {{ order.total }}€</strong></h2>
        <div class="d-flex flex-column align-items-end">
            <a class="btn btn-secondary" href="{{ path('app_home') }}">retour sur la page d'accueil</a>
        </div>


        <div class="d-flex justify-content-center">
            <h1>Vos informations livraison</h1>
        </div>

        <div class="border border-secondary rounded p-2 m-1">
            <h3>{{ app.user.getProfile().lastName }}</h3>
            <p>{{ order.address.streetNumber }} {{ order.address.street }}, {{ order.address.city }}, {{ order.address.country }}</p>
        </div>
    </div>


{% endblock %}
