{% extends 'base.html.twig' %}

{% block title %}Page Products{% endblock %}

{% block body %}
    <a href="" class="btn"></a>
    <form class="d-flex justify-content-center mt-5 mb-5">
        <input class="form-control w-50" type="search" placeholder="Search Game">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
    </form>

    <div class="row">
        {% for product in products %}

            <div class="p-2 col-4">
                <a class="nav-link" href="#">
                    <div class="border rounded d-flex flex-column">
                        <div class="text-center">
                            <h2>{{ product.name }}</h2>
                            <p>{{ product.description }}</p>
                            <p><strong>Price : {{ product.price }}€</strong></p>
                        </div>

                        <div class="d-flex justify-content-between">
                            {% if product.images.0 is not null %}
                                <div class="card-img"><img src="{{ vich_uploader_asset(product.images.0,'imageFile')|imagine_filter('vignette') }}" alt=""></div>
                            {% endif %}
                        </div>

                        <a href="{{ path('app_cart_add', {id:product.id, quantity:1}) }}" class="btn btn-success">Ajouter au panier</a>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}
